.transactions{
    display: flex;
    justify-content: space-around;
}


.transactions .search-section{
    position: relative;
    top: 50px;
    right: 50px;
    display: flex;
}


.transactions .search-section input{
    height: 40px;
    width: 220px;
}